{{ define "graph" }}
<pre class="mermaid">
---
config:
    fontFamily: "system-ui, sans-serif"
    fontSize: 15px
---
{{ template "graph.mmd" . }}
</pre>

{{ $no_links := true }}
{{ range .ServiceGroups }}{{ range .Services }}{{ range .DependsOn }}{{ $no_links = false }}{{ end }}{{ end }}{{ end }}
{{ if $no_links }}
    <p class="hint">Hint: To add links to the graph, make sure your services declare
        <code><a href="https://docs.docker.com/reference/compose-file/services/#depends_on">depends_on</a></code>
        relations.
    </p>
{{ end }}

<details class="legend">
    <summary>Legend</summary>
    <h3>How do I read the service graph?</h3>
    <p>Each box in the graph represents a Docker Compose service. The links between them represent <a href="https://docs.docker.com/reference/compose-file/services/#depends_on">depends_on</a> attributes.</p>
    <h4>Status</h4>
    <p>The icon after the service name indicates the <a href="https://docs.docker.com/reference/cli/docker/container/ls/#status">status</a> of that service:</p>
    <dl>
        <dt><span class="icon new">🆕</span> <strong>Created</strong></dt><dd>The service is created, but not yet running.</dd>
        <dt><span class="icon running">▶️</span> <strong>Running</strong></dt><dd>The service is running. (See color for service health.)</dd>
        <dt><span class="icon paused">⏸️</span> <strong>Paused</strong></dt><dd>The service is paused.</dd>
        <dt><span class="icon restarting">🔄</span> <strong>Restarting</strong></dt><dd>The service is restarting.</dd>
        <dt><span class="icon exited">⏹️</span> <strong>Exited</strong></dt><dd>The service has exited.</dd>
        <dt><span class="icon removing">🚮</span> <strong>Removing</strong></dt><dd>The service is being removed.</dd>
        <dt><span class="icon dead">💀</span> <strong>Dead</strong></dt><dd>The service is dead.</dd>
        <dt><span class="icon mixed">*️⃣</span> <strong>Mixed</strong></dt><dd>The service has containers with different states.</dd>
    </dl>
    <h4>Health</h4>
    <p>The background color of the box indicates the <em>health</em> of the service:</p>
    <dl>
        <dt>🟩 <strong>Green</strong></dt><dd>The service is healthy. Its configured healthcheck runs successfully.</dd>
        <dt>🟥 <strong>Red</strong></dt><dd>The service is unhealthy. Its configured health check fails.</dd>
        <dt>⬜️ <strong>Gray</strong></dt><dd>The service has no health information. If the service has a healthcheck configured, health status has not yet been established.</dd>
    </dl>
    <p><em>Note</em>: The health color is only available for services which have <a href="https://docs.docker.com/reference/dockerfile/#healthcheck">healthchecks</a> configured.</p>
    <h4>Resources</h4>
    <p>Each service also displays the following pieces of information, when applicable:</p>
    <dl>
        <dt>🔌 <strong>Ports</strong></dt><dd>The ports exposed by the service that are bound on the host machine.</dd>
        <dt>🌐 <strong>Networks</strong></dt><dd>The networks the service is connected to.</dd>
        <dt>📦 <strong>Volumes</strong></dt><dd>The volumes mounted by the service.</dd>
    </dl>
</details>
{{ end }}