<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }} – docodash</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header id="project">
    {{ if .Title }}<h1 class="title">{{ .Title }}</h1>{{ else }}<h1 class="name">{{ .Name }}</h1>{{ end }}
    {{ if .Description }}<p class="description">{{ .Description }}</p>{{ end }}
</header>
{{ range .Services }}
    <section class="service">
        <h2 class="name">{{ .Name }}</h2>
        {{ if .Title }}<h3 class="title">{{ .Title }}</h3>{{ end }}
        {{ if .Description }}<p class="description">{{ .Description }}</p>{{ end }}
        <ul>
            <li class="image"><strong>Image</strong>: <code>{{ .Image }}</code></li>
            <li class="status"><strong>Status</strong>:
                {{ $separate := false }}
                {{ if .Status.Created }}{{ if $separate }}, {{ end }}<span class="created">{{ .Status.Created }} created</span>{{ $separate = true }}{{ end
                }}{{ if .Status.Running }}{{ if $separate }}, {{ end }}<span class="running">{{ .Status.Running }} running</span>{{ $separate = true }}{{ end
                }}{{ if .Status.Stopped }}{{ if $separate }}, {{ end }}<span class="stopped">{{ .Status.Stopped }} stopped</span>{{ $separate = true }}{{ end
                }}{{ if .Status.Paused }}{{ if $separate }}, {{ end }}<span class="paused">{{ .Status.Paused }} paused</span>{{ $separate = true }}{{ $separate = true }}{{ end
                }}{{ if .Status.Restarting }}<span class="restarting">{{ .Status.Restarting }} restarting</span>{{ $separate = true }}{{ end
                }}{{ if .Status.Removing }}<span class="removing">{{ .Status.Removing }} removing</span>{{ $separate = true }}{{ end
                }}{{ if .Status.Exited }}{{ if $separate }}, {{ end }}<span class="exited">{{ .Status.Exited }} exited</span>{{ $separate = true }}{{ end
                }}{{ if .Status.Dead }}{{ if $separate }}, {{ end }}<span class="dead">{{ .Status.Dead }} dead</span>{{ $separate = true }}{{ end
                }}{{ if .Status.Stopped }}{{ if $separate }}, {{ end }}<span class="stopped">{{ .Status.Stopped }} stopped</span>{{ $separate = true }}{{ end
                }}

            </li>
            {{ if .Links }}
                <li class="links"><strong>Links</strong>: {{ range $index, $link := .Links }}{{ if $index }}, {{ end }}<a
                    href="{{ $link.URL }}">{{ $link.Label }}</a>{{end}}
                </li>
            {{ end }}
        </ul>
        <details class="containers">
            {{ $count := len .Containers }}
            <summary>Expand for details on {{ $count }} container{{ if ne $count 1 }}s{{ end }}.</summary>
            <table>
                <thead>
                <tr>
                    <th>Names</th>
                    <th>ID</th>
                    <th>Status</th>
                </tr>
                </thead>
                {{ range .Containers }}
                    <tr class="container">
                        <td><code>{{ .ID }}</code></td>
                        <td>{{ range $index, $name := .Names}}{{ if $index }}, {{ end }}{{ $name }}{{ end }}</td>
                        <td>{{ .Status }}</td>
                    </tr>
                {{ end }}
            </table>
        </details>
    </section>
{{ end }}
<footer>
    <p>This page is generated by <a href="https://docodash.henko.net/">Docodash</a>.</p>
</footer>
</body>
</html>