{{ define "main" }}
    <main id="services">
        <div id="error" class="warning" style="display: none">
            <h2>❗️ Failed to update status.</h2>
            <p>Cannot connect to the status update endpoint. Is the Laebel service running?</p>
        </div>
        <script>
            document.body.addEventListener('htmx:sseError', () => {
                document.getElementById('error').style.display = 'block';
            })
            document.body.addEventListener('htmx:sseOpen', () => {
                document.getElementById('error').style.display = 'none';
            })
        </script>
        <div hx-trigger="sse:reload" hx-get="/reload"></div>
        {{ if .ServiceGroups }}
            <section id="graph">
                <h2 class="title">Service Graph</h2>
                {{ template "serviceGraph" .ServiceGroups }}
            </section>
            {{ range .ServiceGroups }}
                <section class="group">
                    <h2 class="title">{{ .Name }}</h2>
                    {{ range .Services }}
                        {{ template "service" . }}
                    {{ end }}
                </section>
            {{ end }}
            {{ if .Networks }}
                <section class="group">
                    <h2 class="title">Networks</h2>
                    {{ range .Networks }}
                        {{ template "network" . }}
                    {{ end }}
                </section>
            {{ end }}
            {{ if .Volumes }}
                <section class="group">
                    <h2 class="title">Volumes</h2>
                    {{ range .Volumes }}
                        {{ template "volume" . }}
                    {{ end }}
                </section>
            {{ end }}
        {{ else }}
            <p id="no-services">The {{ .Name }} project does not contain any services.</p>
        {{ end }}
    </main>
{{ end }}