{{ define "serviceGraph" }}
{{ $no_links := true }}
<pre class="mermaid">
---
config:
    fontFamily: "system-ui, sans-serif"
    fontSize: 15px
---
graph LR
{{ range . }}subgraph "{{ .Name | escape }}"
    direction LR{{ range .Services }}
    {{ .Name }}[<a href="#{{ .Name }}-service">{{ if .Title }}{{ .Title | escape }}{{ else }}{{ .Name }}{{ end }}</a><span class="{{ .Name }}-status icon"></span><div class="details">{{
    if .Ports }} <small class="ports">{{ range $index, $port := .Ports }}{{ if $index }}, {{ end }}{{ $port.Number }}{{end}}</small>{{ end }}{{
        range .Networks }}<small class="network"><a href="#{{ .Name }}-network">{{ .Name | escape }}</a></small>{{ end }}{{
        range .Volumes }}<small class="volume"><a href="#{{ .Name }}-volume">{{ .Name | escape }}</a></small>{{ end }}</div>]{{ end }}
end
{{ end }}{{ range . }}{{ range .Services }}{{ $thisServiceName := .Name }}{{ range $index, $otherServiceName := .DependsOn }}{{ $no_links = false }}{{ $thisServiceName }} --> {{ $otherServiceName }}
{{ end }}{{ end }}{{ end }}
</pre>
{{ if $no_links }}
    <p class="hint">Hint: To add links to the graph, make sure your services declare
        <code><a href="https://docs.docker.com/reference/compose-file/services/#depends_on">depends_on</a></code>
        relations.
    </p>
{{ end }}
{{ end }}