{{ define "serviceGraph" }}
{{ $no_links := true }}
<pre class="mermaid">
---
config:
    fontFamily: "system-ui, sans-serif"
    fontSize: 15px
---
graph LR
{{ range . }}subgraph "{{ .Name | escape }}"
    direction LR{{ range .Services }}
    {{ .Name }}[<a href="#{{ .Name }}-service">{{ if .Title }}{{ .Title | escape }}{{ else }}<code>{{ .Name }}</code>{{ end }}</a><span class="{{ .Name }}-status icon"></span><div class="details">{{
    if .Ports }} <small class="ports"><code>{{ range $index, $port := .Ports }}{{ if $index }}, {{ end }}{{ $port.Number }}{{end}}</code></small>{{ end }}{{
        range .Networks }}<small class="network"><a href="#{{ .Name }}-network"><code>{{ .Name | escape }}</code></a></small>{{ end }}{{
        range .Volumes }}<small class="volume"><a href="#{{ .Name }}-volume"><code>{{ .Name | escape }}</code></a></small>{{ end }}</div>]{{ end }}
end
{{ end }}{{ range . }}{{ range .Services }}{{ $thisServiceName := .Name }}{{ range $index, $otherServiceName := .DependsOn }}{{ $no_links = false }}{{ $thisServiceName }} --> {{ $otherServiceName }}
{{ end }}{{ end }}{{ end }}
</pre>
{{ if $no_links }}
    <p class="hint">Hint: To add links to the graph, make sure your services declare
        <code><a href="https://docs.docker.com/reference/compose-file/services/#depends_on">depends_on</a></code>
        relations.
    </p>
{{ end }}
<details class="legend">
    <summary>What do the icons and colors mean?</summary>
    <p>
        Each box in the graph represents a service.
        The icon and color of the box indicates the
        <a href="https://docs.docker.com/reference/cli/docker/container/ls/#status">status</a> of that service:
    </p>
    <dl>
        <dt>🆕 <strong>Created</strong></dt><dd>The service is created, but not yet running.</dd>
        <dt>▶️ <strong>Running</strong></dt><dd>The service is running. (See color for service health.)</dd>
        <dt>⏸️ <strong>Paused</strong></dt><dd>The service is paused.</dd>
        <dt>🔄 <strong>Restarting</strong></dt><dd>The service is restarting.</dd>
        <dt>⏹️ <strong>Exited</strong></dt><dd>The service has exited.</dd>
        <dt>🚮 <strong>Removing</strong></dt><dd>The service is being removed.</dd>
        <dt>💀 <strong>Dead</strong></dt><dd>The service is dead.</dd>
        <dt>*️⃣ <strong>Mixed</strong></dt><dd>The service has containers with different states.</dd>
    </dl>
    <p>
        The color of the box indicates the <em>health</em> of the service:
    </p>
    <dl>
        <dt>🟩 <strong>Green</strong></dt><dd>The service is healthy. Its configured healthcheck runs successfully.</dd>
        <dt>🟥 <strong>Red</strong></dt><dd>The service is unhealthy. Its configured health check fails.</dd>
        <dt>⬜️ <strong>Gray</strong></dt><dd>The service has no health information. If the service has a healthcheck configured, health status has not yet been established.</dd>
    </dl>
    <p>
        Note that the health color is only available for services which have health checks configured.
    </p>
</details>
{{ end }}