{{ define "serviceGraphStatus" }}{{ range .ServiceGroups }}{{ range .Services
}}.node .{{ .Name }}-status.icon::after { content: "{{ .Status.SummaryIcon }}"; }
{{ if eq .Status.Summary 2 }}#graph .node:has(.{{ .Name }}-status.icon) rect { fill: #efe !important; }{{ end }}
{{ if eq .Status.Summary 3 }}#graph .node:has(.{{ .Name }}-status.icon) rect { fill: #fee !important; }{{ end }}
{{ end }}{{ end }}
@media (prefers-color-scheme: dark) { {{ range .ServiceGroups }}{{ range .Services
}}{{ if eq .Status.Summary 2 }}#graph .node:has(.{{ .Name }}-status.icon) rect { fill: #130 !important; }{{ end }}
    {{ if eq .Status.Summary 3 }}#graph .node:has(.{{ .Name }}-status.icon) rect { fill: #300 !important; }{{ end }}
{{ end }}{{ end }}
}{{ end }}
