{{ define "service" }}
    <section id="{{ .Name }}-service" class="service" hx-trigger="sse:status:{{ .Name }}" hx-get="/service?name={{ .Name }}">
        <h3 class="title">{{ if .Title }}{{ .Title }}{{ else }}<code>{{ .Name }}</code>{{ end }}</h3>
        {{ if .Description }}<p class="description">{{ .Description }}</p>{{ end }}
        <ul>
            {{ if .Title }}
            <li class="name"><strong>Name</strong>: <code>{{ .Name }}</code> {{ template "clipboard" }}{{ end }}
            <li class="image"><strong>Image</strong>: <code>{{ .Image }}</code> {{ template "clipboard" }}</li>
            <li class="status"><strong>Status</strong>: {{ template "serviceStatus" .Status }}</li>
            {{ if .Links }}
                <li class="links">
                    <strong>Links</strong>: {{ range $index, $link := .Links }}{{ if $index }}, {{ end }}
                    <a href="{{ $link.URL }}">{{ $link.Title }}</a>{{end}}
                </li>
            {{ end }}
            {{ if .Ports }}
                <li class="ports">
                    <strong>Ports</strong>: <ul>{{ range .Ports }}<li><code>{{ .Number }}</code>{{ if .Description }}: {{ .Description }}{{ end }}</li>{{ end }}</ul>
                </li>
            {{ end }}
            {{ if .Networks }}
                <li class="networks">
                    <strong>Networks</strong>: <ul>{{ range .Networks }}<li><a href="#{{ .Name }}-network"><code>{{ .Name }}</code></a>{{ if .Title }}: {{ .Title }}{{ end }}</li>{{ end }}</ul>
                </li>
            {{ end }}
            {{ if .Volumes }}
                <li class="volumes">
                    <strong>Volumes</strong>: <ul>{{ range .Volumes }}<li><a href="#{{ .Name }}-volume"><code>{{ .Name }}</code></a>{{ if .Title }}: {{ .Title }}{{ end }}</li>{{ end }}</ul>
                </li>
            {{ end }}
        </ul>
        <details class="containers">
            {{ $count := len .Containers }}
            <summary>Expand for details on {{ $count }} container{{ if ne $count 1 }}s{{ end }}.</summary>
            <table>
                <thead>
                <tr>
                    <th>Container ID</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th>Health</th>
                    <th>Port Bindings</th>
                </tr>
                </thead>
                {{ range .Containers }}
                    <tr class="container" id="{{ .ID }}">
                        <td><code>{{ .ID }}</code> {{ template "clipboard" }}</td>
                        <td><code>{{ .Name }}</code> {{ template "clipboard" }}</td>
                        <td>{{ .Created }}</td>
                        <td>{{ .Status }}</td>
                        <td>{{ .Health }}</td>
                        <td>{{ range $index, $port := .Ports }}{{ if $index }}, {{ end }}{{ $port }}{{ else }}none{{end}}</td>
                    </tr>
                {{ end }}
            </table>
        </details>
    </section>
{{ end }}