{{ define "serviceStatus" }}
{{ $separate := false }}
{{ if .Created }}{{ if $separate }}, {{ end }}<span class="created">{{ .Created }} created</span>{{ $separate = true }}{{ end
}}{{ if .Running }}{{ if $separate }}, {{ end }}<span class="running">{{ .Running }} running</span>{{ $separate = true }}{{ end
}}{{ if .Stopped }}{{ if $separate }}, {{ end }}<span class="stopped">{{ .Stopped }} stopped</span>{{ $separate = true }}{{ end
}}{{ if .Paused }}{{ if $separate }}, {{ end }}<span class="paused">{{ .Paused }} paused</span>{{ $separate = true }}{{ $separate = true }}{{ end
}}{{ if .Restarting }}<span class="restarting">{{ .Restarting }} restarting</span>{{ $separate = true }}{{ end
}}{{ if .Removing }}<span class="removing">{{ .Removing }} removing</span>{{ $separate = true }}{{ end
}}{{ if .Exited }}{{ if $separate }}, {{ end }}<span class="exited">{{ .Exited }} exited</span>{{ $separate = true }}{{ end
}}{{ if .Dead }}{{ if $separate }}, {{ end }}<span class="dead">{{ .Dead }} dead</span>{{ $separate = true }}{{ end
}}{{ if .Stopped }}{{ if $separate }}, {{ end }}<span class="stopped">{{ .Stopped }} stopped</span>{{ $separate = true }}{{ end
}}
{{ end }}