{{ define "service" }}
    <section id="{{.Name }}" class="service">
        <h3 class="title">{{ if .Title }}{{ .Title }}{{ else }}<code>{{ .Name }}</code>{{ end }}</h3>
        {{ if .Description }}<p class="description">{{ .Description }}</p>{{ end }}
        <ul>
            {{ if .Title }}
            <li class="name"><strong>Service</strong>: <code>{{ .Name }}</code> {{ template "clipboard" }}{{ end }}
            <li class="image"><strong>Image</strong>: <code>{{ .Image }}</code> {{ template "clipboard" }}</li>
            <li class="status"><strong>Status</strong>: <span class="{{ .Name }}-status icon"></span><span class="{{ .Name }}-status summary"></span></li>
            {{ if .Links }}
                <li class="links">
                    <strong>Links</strong>: {{ range $index, $link := .Links }}{{ if $index }}, {{ end }}
                    <a href="{{ $link.URL }}">{{ $link.Label }}</a>{{end}}
                </li>
            {{ end }}
        </ul>
        <details class="containers">
            {{ $count := len .Containers }}
            <summary>Expand for details on {{ $count }} container{{ if ne $count 1 }}s{{ end }}.</summary>
            <table>
                <thead>
                <tr>
                    <th>Container ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Health</th>
                </tr>
                </thead>
                {{ range .Containers }}
                    <tr class="container" id="{{ .ID }}">
                        <td><code>{{ .ID }}</code> {{ template "clipboard" }}</td>
                        <td><code>{{ .Name }}</code> {{ template "clipboard" }}</td>
                        <td>{{ .Status }}</td>
                        <td>{{ .Health }}</td>
                    </tr>
                {{ end }}
            </table>
        </details>
    </section>
{{ end }}