{{ define "volume" }}
    <section id="{{.Name }}-volume" class="volume">
        <h3 class="title">{{ if .Title }}{{ .Title }}{{ else }}<code>{{ .Name }}</code>{{ end }}</h3>
        {{ if .Description }}<p class="description">{{ .Description }}</p>{{ end }}
        <ul>
            {{ if .Title }}
            <li class="name"><strong>Name</strong>: <code>{{ .Name }}</code> {{ template "clipboard" }}{{ end }}
            <li class="driver">
                <strong>Driver</strong>: <code>{{ .Driver }}</code>
            </li>
            {{ if .Services }}
                <li class="services">
                    <strong>Services</strong>:
                    <ul>
                        {{ range .Services }}
                            <li><a href="#{{ . }}-service"><code>{{ . }}</code></a></li>
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
        </ul>
    </section>
{{ end }}