body {
    font-family: system-ui, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(34, 34, 34);
    padding: 0 2em 2em 2em;
}

h1 {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: -0.015em;
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: -0.015em;
}

h3 {
    font-size: 1.425em;
    font-weight: 600;
    letter-spacing: -0.015em;
}

ul, ol {
    padding-bottom: 1.125px;
    padding-inline-start: 1.6em;
    padding-top: 1.125px;
}

strong {
    font-weight: 600;
}

code {
    background-color: rgb(250, 250, 250);
    color: rgb(92, 92, 92);
    font-size: 0.875em;
}

a {
    color: rgb(57, 113, 243);
}

table {
    margin: 1em 0;
}

th {
    text-align: left;
}

td {
    padding-right: 1em;
}

.icon {
    font-family: emoji, "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "EmojiOne Color", "Android Emoji", sans-serif;
}
a + .icon {
    margin-left: 0.5em;
}
.service .icon {
    cursor: help;
}

#brand {
    float: right;
    text-align: center;
    margin-top: 0.5em;
    margin-right: -1em;
    margin-left: 0.5em;
    color: gray;
}
#brand img {
    max-width: 32px;
    max-height: 32px;
    filter: invert(50%);
}
#brand p {
    margin-top: 0;
}
#brand p a {
    color: unset;
    text-decoration: none;
}
#icon {
    float: left;
    margin-top: 0.15em;
    margin-right: 0.5em;
    max-width: 32px;
    max-height: 32px;
}

#reload {
    background-color: #fff5f5;
    border: 1px solid #d7cdcd;
    padding: 1em;
}
#reload h2 {
    margin: 0;
}
#reload p {
    margin: 1em 0 0 0;
}

.group {
    margin-top: 2em;
    border-top: 1px solid lightgray;
}

.service {
    margin-top: 2em;
}

.links a {
    margin-left: 0.25em;
}

.links a:first-of-type {
    margin-left: 0;
}

.hint {
    font-style: italic;
}

footer {
    margin-top: 2em;
    border-top: 1px solid lightgray;
    padding-top: 1em;
    font-style: italic;
    color: rgb(92, 92, 92);
}

summary {
    font-style: italic;
    cursor: pointer;
    color: rgb(92, 92, 92);
}

.clipboard {
    font-size: 0.8em;
    cursor: pointer;
    user-select: none;
}

.clipboard::after {
    content: "Copy to clipboard";
    color: rgb(92, 92, 92);
    padding: 0.25em 1em 0.25em 0.5em;
    display: none;
    position: absolute;
    background-color: white;
}

.clipboard:hover::after {
    display: inline;
}

.clipboard:active::after {
    content: "Copied!"
}

#graph .ports::before {
    content: "🔌 ";
}
#graph .volume::before, .volume .title::before {
    content: "📦 ";
}
#graph .network::before, .network .title::before {
    content: "🌐 ";
}
#graph .ports, #graph .volume, #graph .network {
    display: inline-block;
    margin: 0 0.5em;
}

.service .title::before {
    content: "⚙️ "
}
