body {
    font-family: system-ui, sans-serif;
}

h3 {
    color: gray;
}

footer p {
    font-style: italic;
    color: gray;
}

table {
    margin: 1em 2em;
}

th {
    text-align: left;
}

td {
    padding-right: 0.5em;
}

h2 {
    border-bottom: 1px solid lightgray;
    margin-top: 1.5em;
}

summary {
    font-style: italic;
    cursor: pointer;
}
